body{
    background: url(https://staticr1.blastingcdn.com/media/photogallery/2020/8/2/660x290/b_502x220x75/gato-con-gafas-fondo-de-pantalla-gato-con-lentes-gato-con-gafas-pinterestcom_2498088.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: brown;
    background-color: aqua;
}
h2{
    letter-spacing: 4px;
}